body, h1, h2, p, a {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    color: white;
}

nav {
    display: flex;
    justify-content: center;
    background-color: black;
    padding: 20px 0;
}

nav a {
    margin: 0 15px; 
    text-decoration: none;
    color: white; 
    font-size: 1.5em; 
    padding: 10px 20px; 
    border: 2px solid white;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

nav a:hover {
    background-color: white;
    color: black;
}

.tab-content {
    display: none;
    min-height: 100vh;
    padding: 50px;
}

.tab-content.active {
    display: block;
}

#home {
    background: url('../home_background.jpg') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
}

#home h1 {
    font-size: 5em;
    margin-bottom: 20px;
    animation: fadeIn 2s forwards;
    opacity: 0;
}

#home p.fade-in:first-of-type,
#home p.fade-in:last-of-type {
    font-size: 2em;
    margin-bottom: 10px;
    animation: fadeIn 2s forwards;
    opacity: 0;
}

#applications {
    background-color: black;
}

.app-button {
    display: inline-block;
    padding: 10px 15px;
    background-color: gray;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.app-button:hover {
    background-color: darkgray;
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}
