.tab-content {
    display: none;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

nav {
    display: flex;
    justify-content: space-around;
    padding: 1rem;
    background-color: black;   /* This line makes the background black */
}

nav a {
    color: white;
    text-decoration: none;
    padding: 0.5rem 1rem;
    transition: background-color 0.3s;
}

nav a:hover {
    background-color: #555;
}

#home {
    background-image: url('../home_background.jpg'); /* Replace with your image path */
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;   /* Change this line */
    justify-content: center;
    padding-left: 20px;
    color: white;
}

#home .tab-content {
    display: block;
}

#title {
    opacity: 0;
    animation: fadeIn 1s forwards 1s; /* Start after 1s, duration 1s */
}

#applications {
    background-color: #000;   /* Pure black background */
    font-size: 16px;
    color: white;
}

#contact {
    padding: 20px;  /* Padding to prevent text from sticking to the edge */
    font-size: 16px;
    color: white;
    background-color: #000;
}

.fade-in {
    opacity: 0;
    animation: fadeIn 1s forwards 3s; /* Start after 3s, duration 1s */
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}